<div class="header">Create Product</div>
  <br>
  <mat-form-field>
    <input matInput placeholder="Product Name" value="{{product.productName}}" [(ngModel)]="product.productName">
  </mat-form-field>

<mat-table mat-table [dataSource]="elements">
  <ng-container matColumnDef="checked">
    <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.checked" (click)="onCheckClick(element)"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="operationId">
    <mat-header-cell *matHeaderCellDef> Operation Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.operationId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="operationType">
    <mat-header-cell *matHeaderCellDef> Operation Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.operationType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tool">
    <mat-header-cell *matHeaderCellDef> Tool </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tool}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
</mat-table>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>