<mat-dialog-content>
  <h1 mat-dialog-title class="labelIcons" align="center">Order cancelation</h1>
  <div class="col-sm-12">
    <h4>Are you sure you want to cancel your order number: {{order._id}}?</h4>
  </div>
</mat-dialog-content>
<div class="row">
  <div class="col-sm-6">
    <mat-dialog-actions align="end">
      <button mat-button (click)="close()">No</button>
    </mat-dialog-actions>
  </div>
  <div class="col-sm-6">
    <mat-dialog-actions>
      <button mat-button (click)="save()">Yes</button>
    </mat-dialog-actions>
  </div>
</div>
