<div *ngIf="!isLogin; else loginTemplate">
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input matInput placeholder="Name" [(ngModel)]="client.name" name="name" [formControl]="inputFormControl">
        <input matInput placeholder="VAT Number" pattern="[0-9]{9}" maxlength="9" [(ngModel)]="client.vatNumber" name="vat" [formControl]="inputFormControl">
        <input matInput placeholder="Street" [(ngModel)]="client.address.street" name="street" [formControl]="inputFormControl">
        <input matInput placeholder="Postal Code" [(ngModel)]="client.address.postalCode" name="postalCode" [formControl]="inputFormControl">
        <input matInput placeholder="Town" [(ngModel)]="client.address.town" name="town" [formControl]="inputFormControl">
        <input matInput placeholder="Country" [(ngModel)]="client.address.country" name="country" [formControl]="inputFormControl">
        <input matInput placeholder="Phone Number" maxlength="9" [(ngModel)]="client.phoneNumber" name="phoneNumber" [formControl]="inputFormControl">
        <input matInput type="email" placeholder="email" [(ngModel)]="user.email" [(ngModel)]="client.email" name="email" [formControl]="inputFormControl"/>
        <input matInput type="text" placeholder="username" [(ngModel)]="user.name" name="username" [formControl]="inputFormControl"/>
        <input matInput type="password" placeholder="password" [(ngModel)]="user.password" name="password" [formControl]="inputFormControl"/>
        <button (click)="privacyPolicyCheck()">Sign up</button>
        <p class="message">Already registered? <span (click)="changeTemplate()">Login</span></p>
        <div *ngIf="missingRequiredFields" class="alert alert-danger" role="alert">Some required fields are missing!</div>
        <div *ngIf="!!errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
        <div *ngIf="success" class="alert alert-success" role="alert">Successfully registered</div>
      </form>
    </div>
  </div>
</div>


<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
