<nav>
    <ul style="text-align:center;margin-bottom: 3%;background-color: grey;align-content: center;padding-right: 40px;padding-left: 40px;">
      <li>
        <a class="labelIcons" routerLink="clients" routerLinkActive="active">Clients
          <mat-icon fontSet="fas" fontIcon="fa-user-friends"></mat-icon>
        </a>
      </li>
      <li>
        <a class="labelIcons" routerLink="orders" routerLinkActive="active">Orders
          <mat-icon fontSet="fas" fontIcon="fa-shopping-cart"></mat-icon>
        </a>
      </li>
    </ul>
  </nav>
  <section class="container">
    <router-outlet></router-outlet>
  </section>