<nav>
  <ul style="text-align:center;margin-bottom: 3%;background-color: grey;align-content: center;padding-right: 40px;padding-left: 40px;">
    <li>
      <a class="labelIcons" routerLink="visualization" routerLinkActive="active">Visualization
        <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
      </a>
    </li>
    <li>
      <a class="labelIcons" routerLink="pplanSchedule" routerLinkActive="active">Production Planning
        <mat-icon fontSet="fas" fontIcon="fa-cogs"></mat-icon>
      </a>
    </li>
  </ul>
</nav>
<section class="container">
  <router-outlet></router-outlet>
</section>
