<div style="text-align:center; margin:2%;">
  <span><h1 class="mainTitle">My Own Cutlery App</h1></span>
  <span><a href="{{visualUrl}}" target="_blank" style="font-size: 40px;" class="far fa-eye"></a></span>
</div>

<span><a href="/" style="font-size: 40px;" class="fas fa-home"></a></span>
<a class="labelIcons" routerLink='master-data-web' routerLinkActive="active">Master Data Configuration</a>
<a class="labelIcons" routerLink='order-management' routerLinkActive="active">Order Management</a>

<router-outlet></router-outlet>
