<div *ngIf="(alertMessage.showAlertMsg && alertMessage.success); else alertError">
  <div class="alert alert-success" role="alert">
    {{alertMessage.message}}
    <button (click)="hideAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="false"><strong>&times;</strong></span>
    </button>
  </div>
</div>

<ng-template #alertError>
  <div *ngIf="alertMessage.showAlertMsg" class="alert alert-danger" role="alert">
    {{alertMessage.message}}
    <button (click)="hideAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="false"><strong>&times;</strong></span>
    </button>
  </div>
</ng-template>

<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Machine Type > Description</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openDialog(false)">New</button>
  </section>

  <mat-expansion-panel *ngFor="let machinetype of machineTypes">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{machinetype.desc}}</span>
    </mat-expansion-panel-header>

    <table class="table table-sm table-active">
      <tr>
        <th>Tool</th>
        <th>Operation Type</th>
        <td align="center">
          <button type="button" style="margin-right: -29px;" class="btn btn-primary buttonTables"
            (click)="openDialog(true, machinetype)">Edit</button>
        </td>
      </tr>
      <tbody>
        <tr *ngFor="let operation of machinetype.operationList">
          <td>{{operation.tool}}</td>
          <td>{{operation.operationType.desc}}</td>
          <td>
        </tr>
      </tbody>
    </table>
  </mat-expansion-panel>
</mat-accordion>
