<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Tool</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Operation Type</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openCreationDialog()">New</button>
  </section>

  <mat-expansion-panel [disabled]="true" *ngFor="let operation of operations">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{operation.tool}}</span>
      <span class="mat-cell">{{operation.operationType.desc}}</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

</mat-accordion>
