<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Tool Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Operation Type Id</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openDialog(false)">New</button>
  </section>

  <mat-expansion-panel [disabled]="true" *ngFor="let operation of operations">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{operation.operationId}}</span>
      <span class="mat-cell">{{operation.toolId}}</span>
      <span class="mat-cell">{{operation.operationType}}</span>
      <button type="button" style="margin-right: 15px;" class="btn btn-primary buttonTables"
      (click)="openDialog(true, operation)">Edit</button>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

</mat-accordion>
