<h3>Sobre a Política de Proteção de Dados Pessoais</h3>
<p>A MyOwnCutlery reconhece o direito dos cidadãos à proteção dos seus dados pessoais, 
  assegurando que todos os titulares de dados pessoais, que confiam o tratamento dos mesmos à MyOwnCutlery, 
  têm conhecimento da finalidade e do processo de tratamento da informação fornecida, bem como, dos direitos que 
  lhes assistem nesta matéria e da forma de exercício dos mesmos, nos termos e em conformidade com o disposto 
  no artigo 8.º, n.º 1, da Carta dos Direitos Fundamentais da União Europeia («Carta»), do artigo 16.º,n.º 1, 
  do Tratado sobre o Funcionamento da União Europeia (TFUE) e do Regulamento Geral da Proteção de dados (RGPD).</p>

<p>Deste modo, a MyOwnCutlery dá a conhecer aos Utilizadores as regras gerais de privacidade e de tratamento dos dados 
  pessoais que recolhe e trata de forma lícita, leal e transparente, no estrito respeito e cumprimento do quadro geral 
  da Proteção de Dados vigente no ordenamento jurídico português.</p>

<p>Na qualidade de responsável pelas atividades de tratamento dos dados pessoais e da informação, a MyOwnCutlery garante 
  que executa e promove as medidas técnicas e organizativas adequadas e eficazes ao cumprimento dos princípios da proteção 
  de dados, conforme o disposto no RGPD, e que tem em conta a natureza, o âmbito, o contexto e as finalidades do tratamento 
  da informação, bem como o risco de falhas na proteção dos direitos e liberdades das pessoas singulares. Por conseguinte, 
  a MyOwnCutlery disponibiliza e divulga, de forma clara e extensiva, a presente Política de Proteção de Dados Pessoais pelo 
  que recomenda, a todos os utilizadores, a sua leitura atenta e responsável.</p>

<h3>Âmbito</h3>
<p>A presente Política de Proteção de Dados Pessoais aplica-se exclusivamente ao tratamento de dados pessoais efetuados pela MyOwnCutlery.</p>

<h3>Dados Pessoais</h3>
<p>Para efeitos da presente política de dados pessoais, entende-se por «Dados pessoais», informação relativa a uma pessoa singular identificada 
  ou identificável («titular dos dados»).</p>
<p>Nestes termos, é considerada identificável uma pessoa singular que possa, direta ou indiretamente, ser identificada, em especial por 
  referência a um elemento identificador – como por exemplo um nome, um número de identificação fiscal, morada, contacto telefónico e 
  endereço de correio eletrónico.</p>

<h3> O responsável pelo tratamento de dados na MyOwnCutlery</h3>
<p>A entidade responsável pela recolha e tratamento dos dados pessoais é a MyOwnCutlery, que no seu contexto, decide quais os dados recolhidos, 
  os meios de tratamento, o período de conservação e as finalidades para que são utilizados.</p>
  
<h4>Contactos</h4>
  
<p>MyOwnCutlery</p>
<p>Rua de São Tomé nº 73</p>
<p>4200-253 Porto, Portugal</p>
<p>+351912227091</p>
<p>myowncutlery@hotmail.com</p>


<h3>Recolha dos dados pessoais</h3>

<p>A MyOwnCutlery recolhe dados pessoais através da plataforma digital. Os dados pessoais recolhidos são tratados informaticamente e no estrito cumprimento da legislação de 
  proteção de dados pessoais, sendo armazenados em base de dados específicas, criadas para o efeito. Em situação alguma os dados recolhidos serão utilizados para outra 
  finalidade que não seja aquela para a qual foi dado o consentimento por parte do titular dos dados ou a condição de legitimidade do tratamento.</p>

<h3>Sobre a licitude do tratamento dos dados pessoais</h3>
<p>Na MyOwnCutlery o tratamento dos dados pessoais depende da verificação de condições de legitimidade e de verificação de licitude da 
    finalidade desse mesmo tratamento.</p>
    <p>Em concreto, todo o tratamento de dados pessoais na MyOwnCutlery só ocorrerá desde que:</p>
<ul><li>seja necessário para a prossecução de interesses legítimos e se o titular dos dados tiver dado de forma inequívoca o seu
   consentimento;</li> </ul>
<ul><li>seja necessário para a execução de um contrato ou para o cumprimento de alguma obrigação legal a que o responsável pelo
   tratamento esteja sujeito;</li></ul>
<ul><li>seja necessário para a proteção de interesses vitais do titular dos dados ou de outra pessoa singular;</li></ul>
<ul><li>seja necessário para o exercício de funções de interesse público ou no exercício de autoridade pública em que esteja 
  investido o responsável pelo tratamento;</li></ul>
<ul><li>seja necessário para a prossecução de interesses legítimos do responsável pelo tratamento ou de terceiro a quem os 
  dados sejam comunicados, desde que não devam prevalecer os interesses ou os direitos, liberdades e garantias do titular dos dados.</li></ul>

<h3>Fundamentos e Finalidades do Tratamento dos Dados</h3>
<p>A MyOwnCutlery trata os dados pessoais para as finalidades de gestão de encomendas, nomeadamente com vista a dar resposta aos pedidos de 
  obtenção de faturas e pedidos de entrega.  Para este efeito, iremos solicita-lhe os seguintes dados: nome, número de identificação fiscal, 
  morada, contacto telefónico e endereço de correio eletrónico.</p>

<p>O fundamento de licitude que legitima o tratamento de dados pessoais dos Utilizadores é a necessidade do tratamento para a execução de um contrato no 
  qual o titular dos dados é parte (com a MyOwnCutlery) ou uma diligência pré-contratual a pedido do titular dos dados de acordo com o artigo 6.º, n.º 1, al. b) 
  do Regulamento Geral sobre a Proteção de Dados (RGPD).</p>

<p>Mediante o seu consentimento, os seus dados poderão, ainda, ser tratados de forma a que possa receber conteúdos informativos ou promocionais da MyOwnCutlery.</p>

<h3>Prazo de conservação dos dados pessoais</h3>

<p>O período durante o qual os dados são armazenados e conservados varia de acordo com a finalidade do respetivo tratamento.</p>

<p>A MyOwnCutlery pode conservar os dados pessoais durante o tempo em que se lhe possa exigir algum tipo de responsabilidade derivada de uma relação jurídica ou da 
  execução de um contrato (no caso de uma fatura, em que o período é de 10 anos).</p>

<p>Sempre que não exista uma exigência legal específica, os dados serão armazenados e conservados apenas pelo período necessário para cumprir as finalidades que motivaram 
  a sua recolha e tratamento ou pelo período de tempo autorizado pela Autoridade de Controlo (Comissão Nacional de Proteção de Dados), findo o qual os mesmos serão eliminados.</p>  

<h3>Direitos dos titulares dos dados</h3>

<p>Nos termos do quadro legal sobre a Proteção de Dados Pessoais, a MyOwnCutlery garante ao titular dos dados o direito de acesso, atualização, 
  retificação ou apagamento dos seus dados pessoais.</p>

<p>Na plataforma digital, myOwnCutleryApp, o titular dos dados tem disponível meios de atualização, retificação, bem como o apagamento dos seus dados, caso pretenda.</p>


<div class="col-sm-12" style="display: center;">
  <mat-dialog-actions>
    <button style="background-color: #CB6279" mat-button (click)="agreement(false)">I don't agree</button>
    <button style="background-color: #C8DE9C" mat-button (click)="agreement(true)">I agree</button>
  </mat-dialog-actions>
</div>
