<h2>Política de privacidade para <a href='http://myOwnCuttleryWebApp.azure.pt'>myOwnCuttleryWebApp</a></h2>
<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais
  produtiva e agradável possível.</p>
<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o
  myOwnCuttleryWebApp.</p>
<p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o myOwnCuttleryWebApp
  serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de
  nascimento e/ou outros.</p>

<div class="col-sm-12" style="display: center;">
  <mat-dialog-actions>
    <button style="background-color: #CB6279" mat-button (click)="agreement(false)">I don't agree</button>
    <button style="background-color: #C8DE9C" mat-button (click)="agreement(true)">I agree</button>
  </mat-dialog-actions>
</div>
