<div class="header">
  <form class="form">
    <form>
      Delivery Date:
      <input type="date" name="deliveryDate" min={{this.currentDate}} [(ngModel)]="deliveryDate">
    </form>
  </form>
</div>
<br>
<div class="header">Select Products to Order</div>

<mat-table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="checked">
    <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (click)="updateQuantity(element)" [(ngModel)]="element.checked"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="productName">
    <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input matInput placeholder="Desired Quantity:" value="" type="number" [(ngModel)]="element.quantity">
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>

</mat-table>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button (click)="save()" (click)="checkEmptyProductsList()">Save</button>
  <mat-error *ngIf="isSelectedProductsEmpty">
    Please choose at least one product from the list and specify a valid quantity.
  </mat-error>
  <button mat-raised-button (click)="sortByProductionTime()">Sort products by production time</button>
</mat-dialog-actions>