<div class="header">
  <form class="form">
    <form>
      Delivery Date:
      <input type="date" name="deliveryDate" min={{this.currentDate}} [(ngModel)]="deliveryDate">
      <br>
      <mat-error *ngIf="!this.isdateValid">
        Please choose a delivery date.
      </mat-error>
      <br>
      <mat-error *ngIf="isSelectedProductsEmpty">
        Please choose at least one product from the list and specify a valid quantity.
      </mat-error>
    </form>
  </form>
</div>
<br>
<div class="header">Select Products to Order</div>

<mat-table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="checked">
    <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (click)="updateQuantity(element)" [(ngModel)]="element.checked"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="productName">
    <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input matInput placeholder="Desired Quantity:" value="" type="number" style="width: 60px;" [(ngModel)]="element.quantity">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="productionTime">
    <mat-header-cell *matHeaderCellDef> Production Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.productionTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalOrders">
    <mat-header-cell *matHeaderCellDef> Total Orders </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.totalOrders}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sumQuantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sumQuantity}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>

</mat-table>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button (click)="save()" (click)="checkEmptyProductsList()">Save</button>

  <mat-form-field style="margin-left: 50px;width: 250px">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="option1" (click)="sortByProductionTime()">Sort by production time</mat-option>
      <mat-option value="option2" (click)="sortByTotalPopularity()">Sort by popularity (total ordered)</mat-option>
      <mat-option value="option3" (click)="sortByUniquePopularity()">Sort by popularity (unique orders)</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-actions>