
.mat-row.hovered {
  background: #eee;
}

.header {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-content: center;
  font-family: 'Bowlby One SC';
  font-size: 18px;

}