<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="elements">

    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operationId">
      <mat-header-cell *matHeaderCellDef> Operation Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.operationId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operationType">
      <mat-header-cell *matHeaderCellDef> Operation Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.operationType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tool">
      <mat-header-cell *matHeaderCellDef> Tool </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tool}} </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>