<div class="header" *ngIf="isEdition; else newMachineType">Edit Operations for Machine Type
  {{elements[0].machineType}}</div>
<br>

<mat-table mat-table [dataSource]="elements">
  <ng-container matColumnDef="checked">
    <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-row">
      <mat-checkbox [(ngModel)]="element.checked" (click)="onCheckClick(element)"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="operationType">
    <mat-header-cell *matHeaderCellDef> Operation Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.operationType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tool">
    <mat-header-cell *matHeaderCellDef> Tool </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tool}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
</mat-table>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="save(isEdition)" (click)="checkEmptyOperationsList()">Save</button>
  <mat-error  *ngIf="isSelectedOperationsEmpty">
      Please choose at least one operation from the list.
    </mat-error>
</mat-dialog-actions>


<ng-template #newMachineType>
  <div class="header">
    <form class="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="New Machine Type Description" [formControl]="inputFormControl">
        <mat-error *ngIf="inputFormControl.hasError('required')">
          Description is <strong>required.</strong>
        </mat-error>
        <mat-error *ngIf="inputFormControl.hasError('minlength')">
          Minimum length is 2
        </mat-error>
      </mat-form-field>
      <div class="header">Select Operations for the New Machine Type</div>
    </form>
  </div>
</ng-template>
