<div *ngIf="isEdition; else newMachine">
  <h1 mat-dialog-title class="labelIcons">Edit Operation</h1>

  <mat-dialog-content [formGroup]="myForm">
    <mat-form-field>
      <input matInput value="{{operation.operationType}}" placeholder="Description" formControlName="minLength"
        formControlName="{{operation.description}}">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select MachineType" value="operation.operationId">

        <mat-option value="9">Option9</mat-option>
        <mat-option value="5">Option5555</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </mat-dialog-actions>

</div>