
.mat-row.hovered {
  background: #eee;
}

.header {
  display: flex;
  align-content: center;
  font-family: 'Bowlby One SC';
  font-size: 18px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}