<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" style="margin-left: 5px;" mat-sort-header="name">Name</span>
    <span class="mat-header-cell" mat-sort-header="vatNumber">VAT Number</span>
    <span class="mat-header-cell" mat-sort-header="priority">Priority Client</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary"
      (click)="openRightForgottenDialog(client)">Right to be forgotten</button>
  </section>

  <mat-expansion-panel *ngFor="let client of clients">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{client.name}}</span>
      <span class="mat-cell">{{client.vatNumber}}</span>
      <span class="mat-cell">{{client.priority}}</span>
      <button type="button" style="margin-right: 15px;" class="btn btn-primary buttonTables"
        (click)="openEditionDialog(client)">Edit</button>
    </mat-expansion-panel-header>

    <div *ngIf="!!clients" class="subRow">
      <table class="table table-sm table-active">
        <thead class="thead-dark">
          <tr>
            <th>Street</th>
            <th>Postal Code</th>
            <th>Town</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.address.street}}</td>
            <td>{{client.address.postalCode}}</td>
            <td>{{client.address.town}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #blank>
  <span class="mat-cell"> - </span>
</ng-template>