<div *ngIf="(alertMessage.showAlertMsg && alertMessage.success); else alertError">
  <div class="alert alert-success" role="alert">
    {{alertMessage.message}}
    <button (click)="hideAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="false"><strong>&times;</strong></span>
    </button>
  </div>
</div>



<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" style="margin-left: 5px;" mat-sort-header="Name">Product Name</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openDialog()">New</button>
  </section>

  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{product.productName}}</span>
    </mat-expansion-panel-header>

    <div class="mat-expansion-panel-top">Production Plan:</div>
    <div >
        <table class="table table-sm table-active">
            <thead class="thead-dark">
              </thead>
          <thead class="thead-dark">
            <tr>
              <th>Operation Type</th>
              <th>Tool</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let operation of product.operations">
              <td>{{operation.operationType}}</td>
              <td>{{operation.tool}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </mat-expansion-panel>

</mat-accordion>

<ng-template #alertError>
  <div *ngIf="alertMessage.showAlertMsg" class="alert alert-danger" role="alert">
    {{alertMessage.message}}
    <button (click)="hideAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="false"><strong>&times;</strong></span>
    </button>
  </div>
</ng-template>