<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" style="margin-left: 5px;" mat-sort-header="Id">Id</span>
    <span class="mat-header-cell" style="margin-left: 5px;" mat-sort-header="Name">Name</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openDialog(false)">New</button>
  </section>

  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{product.productId}}</span>
      <span class="mat-cell">{{product.productName}}</span>
      <button type="button" style="margin-right: 15px;" class="btn btn-primary buttonTables"
        (click)="openDialog(true, product)">Edit</button>
    </mat-expansion-panel-header>

    <div *ngIf="!!product.planId" class="subRow">
      <table class="table table-sm table-active">
        <thead class="thead-dark">
          <tr>
            <th>Plan Id</th>
          </tr>
        </thead>
        <tbody>
            <td>{{product.planId}}</td>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>

</mat-accordion>
