<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" style="margin-left: 5px;" mat-sort-header="Name">Product Name</span>
    <button type="button" style="margin-right: 25px;" class="btn btn-primary" (click)="openDialog(false)">New</button>
  </section>

  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{product.productName}}</span>
    </mat-expansion-panel-header>

    <div class="subRow">
        <table class="table table-sm table-active">
          <thead class="thead-dark">
            <tr>
              <th>Operation Type</th>
              <th>Tool</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let operation of product.operations">
              <td>{{operation.operationType}}</td>
              <td>{{operation.tool}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </mat-expansion-panel>

</mat-accordion>

